{
  "importOrder": [
    "^@kubernetes?.+$",
    "^react?.+$",
    "^antd?.+$",
    "^@ant-design?.+$",
    "^@reduxjs?.+$",
    "^@n8tb1t",
    "^@rjsf?.+$",
    "^(?![@\\.]).+$",
    "^@constants",
    "^@models",
    "^@redux",
    "^@atoms",
    "^@custom-antd",
    "^@molecules",
    "^@organisms",
    "^@pages",
    "^@wizards",
    "^@hooks",
    "^@utils",
    "^@assets",
    "^@segment",
    "^@services",
    "^@styles",
    "^@types",
    "^@contexts",
    "^@src",
    "^(?!\\.+\\/styled)^[./]?.+$",
    "^\\.+\\/styled$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "singleQuote": true,
  "arrowParens": "avoid",
  "bracketSpacing": false,
  "semi": true,
  "trailingComma": "es5"
}
