.logo {
  margin: 20px 20px 40px;
  width: 42px;
  height: 48px;
  background: transparent url('./../assets/logo.svg') 0% 0% no-repeat padding-box;
  opacity: 1;
}

.site-layout .site-layout-background {
  background: #fff;
}
[data-theme='dark'] .site-layout .site-layout-background {
  background: #141414;
}
