:root {

/* Colors: */
--kusk-6c63ff: #6C63FF;
--monokle-1890fc: #1890FC;
--monokle-5cdbd3: #5CDBD3;
--monokle-32bab5: #32BAB5;
--color-564bfb: #564BFB;
--white: #FFFFFF;
--color-dedede: #DEDEDE;
--color-646464: #646464;
--color-363636: #363636;
--color-121212: #121212;
--color-000000: #000000;
--color-dbdbdb: #DBDBDB;

/* Font/text values */
--font-family-roboto: Roboto;
--font-style-normal: normal;
--font-weight-normal: normal;
--font-weight-medium: medium;
--font-weight-bold: bold;
--font-size-14: 14px;
--font-size-16: 16px;
--font-size-20: 20px;
--font-size-30: 30px;
--font-size-40: 40px;
--font-size-50: 50px;
--character-spacing-0: 0px;
--line-spacing-19: 19px;
--line-spacing-21: 21px;
--line-spacing-26: 26px;
--line-spacing-39: 39px;
--line-spacing-40: 40px;
--line-spacing-53: 53px;
--line-spacing-66: 66px;
--text-transform-uppercase: uppercase;
}

/* Character Styles */
.character-style-1 {
font-family: var(--font-family-roboto);
font-style: var(--font-style-normal);
font-weight: var(--font-weight-normal);
font-size: var(--font-size-50);
line-height: var(--line-spacing-66);
letter-spacing: var(--character-spacing-0);
color: var(--white);
}
.character-style-2 {
font-family: var(--font-family-roboto);
font-style: var(--font-style-normal);
font-weight: var(--font-weight-normal);
font-size: var(--font-size-40);
line-height: var(--line-spacing-53);
letter-spacing: var(--character-spacing-0);
color: var(--color-dbdbdb);
text-transform: var(--text-transform-uppercase);
}
.character-style-3 {
font-family: var(--font-family-roboto);
font-style: var(--font-style-normal);
font-weight: var(--font-weight-medium);
font-size: var(--font-size-30);
line-height: var(--line-spacing-40);
letter-spacing: var(--character-spacing-0);
color: var(--white);
}
.character-style-4 {
font-family: var(--font-family-roboto);
font-style: var(--font-style-normal);
font-weight: var(--font-weight-normal);
font-size: var(--font-size-30);
line-height: var(--line-spacing-39);
letter-spacing: var(--character-spacing-0);
color: var(--monokle-5cdbd3);
}
.character-style-5 {
font-family: var(--font-family-roboto);
font-style: var(--font-style-normal);
font-weight: var(--font-weight-medium);
font-size: var(--font-size-20);
line-height: var(--line-spacing-26);
letter-spacing: var(--character-spacing-0);
color: var(--monokle-5cdbd3);
text-transform: var(--text-transform-uppercase);
}
.character-style-6 {
font-family: var(--font-family-roboto);
font-style: var(--font-style-normal);
font-weight: var(--font-weight-medium);
font-size: var(--font-size-20);
line-height: var(--line-spacing-26);
letter-spacing: var(--character-spacing-0);
color: var(--white);
text-transform: var(--text-transform-uppercase);
}
.character-style-7 {
font-family: var(--font-family-roboto);
font-style: var(--font-style-normal);
font-weight: var(--font-weight-normal);
font-size: var(--font-size-20);
line-height: var(--line-spacing-26);
letter-spacing: var(--character-spacing-0);
color: var(--color-dbdbdb);
}
.character-style-8 {
font-family: var(--font-family-roboto);
font-style: var(--font-style-normal);
font-weight: var(--font-weight-normal);
font-size: var(--font-size-16);
line-height: var(--line-spacing-21);
letter-spacing: var(--character-spacing-0);
color: var(--color-dedede);
}
.character-style-9 {
font-family: var(--font-family-roboto);
font-style: var(--font-style-normal);
font-weight: var(--font-weight-medium);
font-size: var(--font-size-16);
line-height: var(--line-spacing-21);
letter-spacing: var(--character-spacing-0);
color: var(--color-dedede);
}
.character-style-10 {
font-family: var(--font-family-roboto);
font-style: var(--font-style-normal);
font-weight: var(--font-weight-bold);
font-size: var(--font-size-16);
line-height: var(--line-spacing-21);
letter-spacing: var(--character-spacing-0);
color: var(--monokle-1890fc);
}
.character-style-11 {
font-family: var(--font-family-roboto);
font-style: var(--font-style-normal);
font-weight: var(--font-weight-normal);
font-size: var(--font-size-14);
line-height: var(--line-spacing-19);
letter-spacing: var(--character-spacing-0);
color: var(--color-dedede);
}