:root {
  --space-unit: 1em;
  font-size: 1rem;

  /* Font families. */
  --font-family-sans: 'Nunito', sans-serif;

  /* Line Spacings */
  --line-spacing-medium: 1.6rem;
  --line-spacing-large: 2.5rem;

  /* Font sizes. */
  --font-size-3sm: 0.21rem;
  --font-size-ssm: 0.438rem;
  --font-size-xs: 0.688rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 18px;
  --font-size-lg: 16px;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.875rem;
  --font-size-4xl: 2rem;
  --font-size-mid-4xl: 2.5rem;
  --font-size-5xl: 3rem;
  --font-size-6xl: 5rem;

  /* Font weight. */
  --font-weight-small: 200;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Colors: */
  --color-monokle-primary: #1890fc;
  --color-monokle-secondary: #0b467a;
  --color-light-primary: #ffffff;
  --color-light-secondary: #dedede;
  --color-gray-primary: #dbdbdb;
  --color-gray-secondary: #646464;
  --color-gray-tertiary: #363636;
  --color-gray-quaternary: #646464;
  --color-gray-quinary: #acacac;
  --color-gray-senary: #1d1d1d;
  --color-gray-senary: #393939;
  --color-gray-octonary: #888888;
  --color-gray-nonary: #262626;
  --color-dark-primary: #121212;
  --color-dark-secondary: #000000;
  --color-dark-tertiary: #151515;
  /* --color-dark-quaternary: #1D1D1D; */
  --color-dark-quaternary: #434343;
  --color-dark-quinary: #1d1d1d;
  --color-dark-senary: #262626;
  --color-yellow-primary: #ffa700;
  --color-shadow-primary: rgba(0, 0, 0, 0.05);
  --color-shadow-secondary: rgba(75, 87, 156, 0.5);
  --color-gray-dark: #363636;
  --color-purple-primary: #ad54f880;

  /* Borders. */
  --button-border-radius-primary: 0.25rem;

  /* Spaces */
  --space-xxxxs: calc(0.125 * var(--space-unit));
  --space-xxxs: calc(0.25 * var(--space-unit));
  --space-xxs: calc(0.375 * var(--space-unit));
  --space-xs: calc(0.5 * var(--space-unit));
  --space-sm: calc(0.75 * var(--space-unit));
  --space-md: calc(1.25 * var(--space-unit));
  --space-lg: calc(2 * var(--space-unit));
  --space-lg2: calc(2.5 * var(--space-unit));
  --space-xl: calc(3.25 * var(--space-unit));
  --space-x1l: calc(2.75 * var(--space-unit));
  --space-xxl: calc(5.25 * var(--space-unit));
  --space-xxxl: calc(8.5 * var(--space-unit));
  --space-xxxxl: calc(13.75 * var(--space-unit));
  --space-5xl: calc(18.75 * var(--space-unit));
  --space-6xl: calc(24.75 * var(--space-unit));

  /* CUSTOM SIZES */
  --custom-height-1: 44px;
}

@media screen and (min-width: 56em) {
  :root {
    --font-size-xl: 1.5rem;
    --font-size-2xl: 2rem;
    --font-size-3xl: 2.5rem;
    --font-size-4xl: 3rem;
  }
}

/* Responsive Font families. */
@media screen and (min-width: 26.5rem) {
  html {
    font-size: var(--font-size-ssm);
  }
}

@media screen and (min-width: 48rem) {
  html {
    font-size: var(--font-size-sm);
  }
}

@media screen and (min-width: 64rem) {
  html {
    font-size: var(--font-size-md);
  }
}

@media screen and (min-width: 90rem) {
  html {
    font-size: var(--font-size-lg);
  }
}

@media screen and (min-width: 160rem) {
  html {
    font-size: var(--font-size-xl);
  }
}

* {
  margin: 0;
  padding: 0;
}
