name: Triage

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  triage:
    if: github.event_name == 'pull_request'

    name: 'Triage'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/labeler@v3
        with:
          repo-token: '${{ secrets.GITHUB_TOKEN }}'
