@primary-color: #7984f4;
@error-color: #ec4899;
@heading-color: #fff;
@text-color: #fff;
@component-background: #141414;
@border-radius-base: 4px;
@avatar-bg: transparent;
@layout-body-background: #111827;
@layout-header-background: #111827;
@font-family: 'Roboto', sans-serif;
@code-family: 'Roboto Mono', sans-serif;
// button
@btn-height-base: 40px;
@btn-default-bg: rgba(255, 255, 255, 0.05);
@btn-default-color: #cbd5e1;
@btn-default-border: transparent;
@btn-disable-color: #64748b;
@btn-disable-bg: #334155;
@btn-disable-border: #64748b;
// page header
@page-header-back-color: #fff;
@page-header-padding: 0px;
@page-header-heading-title: 34px;
// tabs
@tabs-card-active-color: #fff;
@tabs-active-color: #94a3b8;
@tabs-ink-bar-color: #fff;
@tabs-highlight-color: #fff;
@tabs-hover-color: #f8fafc;
//table
@table-bg: transparent;
@table-row-hover-bg: #1e293b;
@table-border-color: #1e293b;
@table-selected-row-bg: rgba(30, 41, 59, 0.4);
//input
@input-color: #e2e8f0;
@input-bg: #1e293b;
@input-height-base: 44px;
@input-placeholder-color: #64748b;
@input-border-color: #1e293b;
@input-hover-border-color: #475569;
@input-disabled-bg: #1e293b80;
@input-disabled-color: #64748b;
@input-number-hover-border-color: #475569;
// select
@select-border-color: transparent;
@select-item-selected-color: #e2e8f0;
@select-dropdown-bg: #1e293b;
@select-background: #1e293b;
@select-selection-item-bg: #334155;
@select-selection-item-border-color: #475569;
@select-item-selected-bg: #334155;
@select-item-active-bg: #7984f4;
// notification
@notification-bg: #1e293b;
@notification-padding-vertical: 0;
@notification-padding-horizontal: 0;
// dropdown
@dropdown-menu-bg: #1e293b;
// drawer
@drawer-body-padding: 0;
// tooltip
@tooltip-bg: #334155;
@popover-bg: #334155;
