@primary-color: #7984f4;
// @success-color: #94d89c;
// @error-color: #db539c;
// @skeleton-color: #303030;
// @skeleton-to-color: #434343;
@heading-color: #fff;
@text-color: #fff;
// @input-color: #dbdbdb;
// @border-color-base: #434343;
@component-background: #141414;
// @select-item-selected-bg: @primary-color;
// @item-hover-bg: #1d1d1d;
// @label-color: #dbdbdb;
// @form-item-label-font-size: 14px;
// @highlight-color: #d32029;
// @form-item-label-colon-margin-right: 12px;
// @form-item-label-colon-margin-left: 5px;
// @disabled-bg: #262626;
// @disabled-color: #5a5a5a;
// @btn-disable-color: @disabled-color;
// @btn-disable-bg: @disabled-bg;
// @btn-disable-border: #434343;
// @popover-bg: #434343;
// @tooltip-bg: #000;
@layout-body-background: #111827;
@layout-header-background: #111827;
@font-family: 'Roboto', sans-serif;
@btn-height-base: 40px;
@btn-default-bg: rgba(255, 255, 255, 0.05);
@btn-default-color: #cbd5e1;
@btn-default-border: transparent;
@page-header-back-color: #fff;
@page-header-padding: 0px;
@page-header-heading-title: 34px;
@tabs-card-active-color: #fff;
@tabs-active-color: #fff;
@table-bg: transparent;
@table-row-hover-bg: #1e293b;
@table-border-color: #1e293b;
@border-radius-base: 4px;
